name: Generate documenation
on:
  workflow_dispatch:
  pull_request:
    branches:
      - main

permissions:
  contents: read


jobs:
  terraform-docs:
    permissions:
      pull-requests: write
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.ref }}

      - name: Check terraform docs are up to date
        uses: terraform-docs/gh-actions@v1.2.0
        with:
          working-dir: .
          output-file: README.md
          output-method: inject
